.col-lg :first-child {
  font-weight: bold;
  color: #ffaa60;
}
.col-lg :first-child:hover {
  color: #ffaa60;
  cursor: default;
}
.footer {
  background-color: #404040;
  color: wheat;
}
.col:hover {
  color: white;
  cursor: pointer;
}
.footer-logo {
  /* max-width: 30%; */
  max-width: 60%;
}

.border-color-gold {
  border-color: #ffaa60 !important;
}
.mountainbg {
  /* background-image: url(./../images/mountain-combined.png); */
  background: linear-gradient(24deg, #ff662ec9, transparent);

  background-position: bottom;
  background-repeat: repeat-x;
}
