.col-lg :first-child {
  font-weight: bold;
  color: #ffaa60;
}
.col-lg :first-child:hover {
  color: #ffaa60;
  cursor: default;
}
.footer {
  background-color: #404040;
  color: wheat;
}
.col:hover {
  color: white;
  cursor: pointer;
}
.footer-logo {
  /* max-width: 30%; */
  max-width: 70%;
}

.border-color-gold {
  border-color: #ffaa60 !important;
}
.mountainbg {
  /* background-image: url(./../images/mountain-combined.png); */
  background: linear-gradient(24deg, #ff662ec9, transparent);

  background-position: bottom;
  background-repeat: repeat-x;
}
.social-icons {
  padding: 5px;
  width: 100%;
  max-width: 35px;
}
.facebook {
  color: #1778f2;
}
.twitter {
  color: #1da1f2;
}
.instagram {
  color: #ef426f;
}
svg:hover {
  filter: brightness(150%);
  -webkit-transition: 0.5s;
}
.sidebar {
  position: absolute;
  padding: 5px;
  right: 0px;
  margin-bottom: 55px;
  margin-top: 10px;
  background-color: white;
  color: black;
}
@media (max-width: 768px) {
  .footer-logo {
    /* max-width: 30%; */
    max-width: 100%;
  }
  div.col-4 {
    padding: 0 !important;
  }
  .sidebar {
    margin-top: -50% !important;
  }
}
