.bg-red {
  /* background-image: url("./../images/bg-7.png"); */
  /* background-image: url("./../images/halfCutMountain.jpg"); */
  /* height: 100vh; */
  /* background-image: url("./../images/cutbg.jpg"); */
  background: linear-gradient(218deg, #526ba3, transparent);
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-red h5 {
  font-weight: 800 !important;
  color: black;
}
.fti-leftblock {
  padding-top: 10px;
}
