@font-face {
  font-family: quicksand;
  src: url(./../fonts/quicksand-bold-webfont.woff2);
  src: url(./../fonts/quicksand-light-webfont.woff2);
  src: url(./../fonts/quicksand-regular-webfont.woff2);
}
.logo {
  max-width: 280px;
  max-height: 100px;
}
.navbar {
  z-index: 2000;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 8px rgba(46, 46, 46, 0.634);
  font-display: swap;
  font-family: quicksand, sans-serif;
  /* font-size: 20px; */
  font-weight: bold;
  padding: 0px;
}
.nav-link {
  padding: 5px !important;
  margin-left: 5px;
}
.nav-link:hover {
  color: orangered !important;
}
