@font-face {
  font-family: quicksand;
  src: url(./../fonts/quicksand-bold-webfont.woff2);
  src: url(./../fonts/quicksand-light-webfont.woff2);
  src: url(./../fonts/quicksand-regular-webfont.woff2);
}
.logo {
  max-width: 300px;
  max-height: 100px;
}
.navbar {
  z-index: 2000;
  position: sticky;
  top: 0;
  /* color: rgb(68, 43, 33) !important; */
  box-shadow: 5px 5px 8px rgba(250, 252, 255, 0.634);
  font-family: quicksand, sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 0px;
  /* background-color: wheat !important; */
  background: linear-gradient(151deg, wheat, transparent);

  /* background-color: #404040 !important; */
}
.nav-link {
  padding: 5px !important;
  margin-left: 5px;
  text-align: center;
  /* color: #ffaa60 !important; */
}
.nav-link:hover {
  color: orangered !important;
}
.OrangeBar {
  background: orangered;
  height: 3px;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 10000;
}
