.cardwhite {
  z-index: 20;
  /* height: 200px !important; */
  width: 80%;
  position: relative;
  border-radius: 5px !important;
  box-shadow: 0 0 4.222rem rgb(245 222 179 / 24%);
  display: block;
  margin: auto;
  background-color: white;
  margin-top: 0em;
}
.card-icon {
  display: block;
  margin: auto;
  align-items: center;
  /* top: auto;
  left: auto; */
}
.cardwhite img {
  /*   max-width: 300px; */
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
}

.imagegroup:hover {
  color: orangered;
  transition-duration: 0.4s;
}
.subtitles {
  font-size: 2.5vw;
  text-align: center;
}
@media (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
  .subtitles {
    font-size: 4.5vw;
  }
}

@media (min-width: 1200px) {
  .subtitles {
    font-size: 32px !important;
  }
}
