.cardwhite {
  z-index: 20;
  /* height: 200px !important; */
  width: 80%;
  position: relative;
  border-radius: 5px !important;
  box-shadow: 0 0 4.222rem rgb(82 190 229 / 24%);
  display: block;
  margin: auto;
  background-color: white;
  margin-top: 0em;
}
.card-icon {
  display: block;
  margin: auto;
  align-items: center;
  /* top: auto;
  left: auto; */
}
.cardwhite img {
  max-width: 100px;
}

.imagegroup:hover {
  color: orangered;
  transition-duration: 0.4s;
}
